<section class="card">
  <header>{{user.username}}</header>
  <div class="card-body">
    <p>{{post_text}}</p>
  </div>
</section>

<section class="card">
  <h3 class="gallery-name">{{user.username}}</h3>
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
      <section class="card">
        <a href="/painting/{{id}}">
          <header>{{title}}</header>

          <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}" />
            <p>By: {{artist}}</p>
          </div>
        </a>
      </section>
    {{/each}}
  </section>
</section>